<header id="header">
  <div id="logo-group">
    <span id="logo">
      <%= image_tag "logo.png" %>
    </span>
  </div>
  <span id="login-header-space">
    <span class="hidden-mobile"><%= t('account.help') %></span>
    <a href="/users/sign_up" class="btn btn-danger"><%= t('account.new') %></a>
  </span>
</header>
<div id="main" role="main">
  <div id="content" class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-7 col-lg-8">
        <h1 class="txt-color-red login-header-big">E-Mail</h1>
        <div class="no-padding smart-form client-form">
            <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
                <section>
                    <label class="input"> <i class="icon-append fa fa-user"></i>
                        <%= f.email_field :email, :autofocus => true %>
                    <b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Por favor, introduzca la dirección de correo electrónico</b></label>
                </section>
              <footer>
                <button type="submit" class="btn btn-primary">
                  <%= t('restore') %>
                </button>
              </footer>
            <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
